.section_blank {
  position: relative;
  display: flex;
  min-height: 100svh;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .section_blank {
    padding-top: 3rem;
  }
}

.padding-global {
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.container-large {
  width: 100%;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large.is--100 {
  height: 100%;
}