.icon-color {
  display: inline-flex;
  color: inherit;
}

.icon-color:where(.w-variant-7811dcc8-ec1c-73a7-ff3f-4b4726645da0) {
  color: var(--text-color--text-primary);
}

.icon-color:where(.w-variant-d622219e-edc6-82bc-8805-1bb4cea14b68) {
  color: var(--text-color--text-secondary);
}

.icon-color:where(.w-variant-cdd1c203-457b-bf41-1ba6-b8075782983e) {
  color: var(--text-color--text-tertiary);
}