.padding-global {
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.container-small {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .padding-section-large.padding-tablet-small {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large.padding-tablet-small {
    padding-bottom: 1rem;
  }
}

.text-style-tagline {
  display: inline-block;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.margin-right {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2rem;
  }
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.25rem;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.button-group.is-center {
  justify-content: center;
}

.button {
  padding: 0.75rem 1.5rem;

  border-radius: 0.25rem;

  background-color: var(--background-color--background-primary);

  color: var(--text-color--text-tertiary);
  font-weight: 600;
  text-align: center;
}

.button.is-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  text-decoration: none;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: var(--\<unknown\|relume-variable-transparent\>);

  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  text-decoration: none;
}

.icon-embed-xxsmall {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}