.navbar_component {
  display: flex;
  width: 100%;
  height: 4.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: center;

  border-bottom: 0px solid var(--\<unknown\|relume-variable-color-scheme-1-background\>);

  background-color: var(--base-color-brand--pearl);

  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .navbar_component {
    border-bottom-style: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar_component {
    height: auto;
  }
}

.navbar_container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo-link {
  padding-left: 0px;
  color: var(--background-color--background-secondary);
  font-size: 1.25rem;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .navbar_logo-link {
    padding-left: 0px;
  }
}

.navbar_logo {
  font-size: 1.5rem;
}

.navbar_menu {
  position: static;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .navbar_menu {
    position: absolute;

    overflow: auto;
    padding: 1rem 5% 2rem;

    border-bottom: 1px solid var(--\<unknown\|relume-variable-color-scheme-1-border\>);

    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }
}

.navbar_menu.is-page-height-tablet {
  background-color: var(--base-color-brand--pearl);
}

@media screen and (max-width: 991px) {
  .navbar_menu.is-page-height-tablet {
    height: 100dvh;
    padding-bottom: 6.5rem;
    border-bottom-style: none;
    transition: height 500ms ease;
  }
}

@media screen and (max-width: 767px) {
  .navbar_menu.is-page-height-tablet {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .navbar_menu.is-page-height-tablet {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .navbar_menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.navbar_link {
  padding: 0.5rem 1rem;
}

.navbar_link:global(.w--current) {
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

@media screen and (max-width: 991px) {
  .navbar_link {
    width: auto;
    padding: 0.75rem 0rem;
    font-size: 1.125rem;
  }
}

.navbar_menu-buttons {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .navbar_menu-buttons {
    margin-top: 1.5rem;
    margin-left: 0rem;
    flex-direction: column;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.navbar_menu-button {
  padding: 0rem;
}

@media screen and (max-width: 991px) {
  .navbar_menu-button:global(.w--open) {
    background-color: var(--\<unknown\|relume-variable-transparent\>);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1 {
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: -0.5rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-top {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: var(--base-color-brand--dark-blue);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-middle {
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;

    background-color: var(--base-color-brand--dark-blue);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-middle-inner {
    width: 4px;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-bottom {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: var(--base-color-brand--dark-blue);
  }
}

#w-node-_341c2c12-2755-a388-c9cf-3af2e6cd3553-e6cd3553 {
}